.kits
  - @kits.each do |group, kits|
    = caption kits.first.group
    .group
      - kits.each do |kit|
        .kit
          - if user_kit = current_user.user_kits.find { |uk| uk.kit_id == kit.id }
            = form_for user_kit, :url => user_user_kit_path(current_user, user_kit), :method => :delete do |f|
              = f.button kit.name, :class => 'button active'
          - else
            = form_for UserKit.new(:kit_id => kit.id), :url => user_user_kits_path(current_user) do |f|
              = f.hidden_field :kit_id
              = f.button kit.name, :class => 'button'
      .clear