= user_gists_title(user)
- if gists.any?
  #gists
    = render :partial => 'gists/list', :locals => { :gists => gists }
- elsif user
  = link_to "http://github.com/#{user.username}", "http://github.com/#{user.username}", :target => "_blank"