= render 'search/sidebar'
= render 'users/sidebar'
= render :partial => 'account/gists/sidebar', :locals => { :load_gists => false }
= render 'account/remembrances/sidebar'
= render 'account/tags/sidebar'
