.caption
  = @presenter.post.new_record? ? "New" : "Edit"
= form_for @presenter.post do |f|
  .form-item
    = f.label :title
    = f.text_field :title, :placeholder => 'Enjoy the GistFlow...'
    .hint Some text here
  
  .form-item
    = f.label :content
    = f.text_area :content, :size => '40x12'
    .hint Render in the post page
  
  %ul.button-group
    - if f.object.new_record?
      %li= f.submit 'Post', :class => 'button'
    - else
      %li= f.submit 'Save', :class => 'button'

  .clear