.caption
  = @presenter.post.new_record? ? "New" : "Edit"
  = @presenter.post.short_class_name
= form_for @presenter.post do |f|
  .form-item
    = f.text_field :title, :placeholder => 'Title'
  
  .form-item
    = f.text_area :content, :size => '40x12', :placeholder => 'Body'
    .hint Use <code>&lt;cut&gt;</code> tag to cut preview. It shows on the post list
  
  %ul.button-group
    %li= f.submit 'Commit', :class => 'button'

  .clear