- presenter = Posts::ShowPresenter.new(post)
%article
  %header
    %h1= presenter.title
    .avatar
      = link_to user_path(:id => presenter.user.username) do
        = avatar_image(presenter.user)
  .preview.markdown.group
    ~ presenter.preview
  %footer.notice.group
    .button-group.minor-group
      - if user_signed_in?
        = link_to_memorize presenter.post
        = link_to_like presenter.post
      = link_to "Comments (#{presenter.comments_count})", { :controller => post.controller, :action => :show, :id => post.id }, :class => 'button icon comment'
    .button-group.minor-group
      - if current_user == post.user
        = link_to "Edit", { :controller => post.controller, :action => :edit, :id => post.id }, :class => 'button icon edit'
      = link_to "Show", { :controller => post.controller, :action => :show, :id => post.id }, :class => 'button primary'
