.caption= @presenter.post.new_record? ? "New post" : "Edit post"
= form_for @presenter.post, :class => 'well' do |f|
  = f.label :title
  = f.text_field :title
  
  = f.label :body
  = f.text_area :body, :size => '40x12'
  
  = f.label :preview
  = f.text_area :preview, :size => '40x3'
  
  %ul.button-group
    %li.help Post as
    %li= f.submit 'Article', :class => 'button'
    %li= f.submit 'Question', :class => 'button'
    %li= f.submit 'Community', :class => 'button'

  .clear