= simple_form_for(@post) do |f|
  = f.error_notification
  .inputs
    = f.input :title
    = f.input :body
  .actions
    = f.button :submit

.gists
  %ul
    - @gists.each do |gist|
      %li 
        = link_to gist["description"], "#import_gist_#{gist['id']}", :class => "import_gist", :id => gist["id"]