- if user_signed_in?
  - if current_type == 'gossip'
    .caption New message
    = form_for new_post, :html => { :id => 'instant_form' } do |f|
      .form-item.no-margin
        = f.text_area :content, :size => '40x2', :id => 'post_body'
      %ul.button-group
        %li= f.submit 'Post', :class => 'button'
      .clear
  - else
    %button.button
      = link_to "New #{current_type}", send("new_posts_#{current_type}_path")