- presenter = Posts::ShowPresenter.new(post)
.post
  %h4= link_to presenter.title, post_path(presenter.post)
  .avatar= avatar_image(post.user, 30)
  .body= presenter.body
  .clear
  .caption
    = link_to "#{post.comments.size} comments", post_path(post), :class => "comments label"