- presenter = Posts::ShowPresenter.new(post)
.post
  .title= presenter.title
  .avatar= avatar_image(post.user, 26)
  .preview= presenter.preview
  .clear
  .notice
    = link_to "To favorites", add_to_favorites_post_path(post)
  .notice
    - if user_signed_in? and !post.liked_by_user?(current_user) and post.user != current_user
      = link_to "Like", like_post_path(post)
    - else
      .like_counter= "#{post.likes_count}"
    
  .notice= link_to "Comments (#{post.comments.size})", post_path(post)
  .clear