.post.detail
  %h2= @presenter.title
  .body= @presenter.body

.caption Comments

- if user_signed_in?
  = form_for @presenter.post.comments.build, :url => post_comments_path(@presenter.post) do |f|
    .body= f.text_area :content, :size => '40x2', :id => 'post_body'
    .question.left
      = f.check_box :question
      = f.label :question, 'Is it a Question?'
    %ul.button-group
      %li= f.submit 'Comment', :class => 'button'
    .clear

= render @presenter.comments
