!!!
%html
  %head
    %title Gistflow
    = stylesheet_link_tag    'application', 'http://twitter.github.com//bootstrap/1.4.0/bootstrap.min.css'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.container= render 'shared/header'
    .container
      .content
        .row
          .span10
            = yield
          .span6.sidebar
            = render 'shared/sidebar'
    %footer
      .container
        = link_to 'github', 'https://github.com/gist-flow/gistflow'
