!!!
%html
  %head
    %title Gistflow
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header.container= render 'shared/header'
    .container
      .content
        .row
          .span11
            = yield
          .span4.offset1
            %h3 Sidebar
            %ul
              %li= link_to "New post", new_post_path
              %li= link_to "Link2", "/path2"
              %li= link_to "Link3", "/path3"
    %footer
      .container
        = link_to 'github', 'https://github.com/gist-flow/gistflow'
