!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %title= "Gistflow::#{yield(:title)}"
  %body
    = raw javascript_enabled?
    .wrap.group
      %header.main.group
        %h1= link_to_unless_current 'Gistflow', root_path
        %nav.user= authentication_menu
        %nav.categories= ul(categories_items)
        = render_flash
      %section.main
        %header
          %h1= yield(:title)
        = yield
      %section.sidebar
        = render 'search/sidebar'
        = render 'users/sidebar'
        = render :partial => 'account/gists/sidebar', :locals => { :load_gists => false }
        = render 'account/remembrances/sidebar'
        = render 'account/tags/sidebar'
    %footer
      .wrap= credits