!!!
%html
  %head
    %title Gistflow
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .wrap
      %header=  render 'shared/header'
      = render_flash
      #main= yield
      #sidebar= render 'shared/sidebar'
      .clear
    %footer
      .wrap= credits
